@page
@model ClientPublisher.Pages.ConfirmacaoPedidoModel
@{
    ViewData["Title"] = "ConfirmacaoPedido";
}

<div class="row">
    <h1>ConfirmacaoPedido</h1>
</div>

<div class="row"><br /></div>

<div class="row">
    <form>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="Nome">Nome</label>
                <input type="text" class="form-control" id="FormaPagamento" value="Dinheiro" readonly>
            </div>
            <div class="form-group col-md-6">
                <label for="Email">Nome</label>
                <input type="email" class="form-control" id="Total" value="1.553,25" readonly>
            </div>
        </div>
    </form>
</div>