@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h5 class="display-4">ClientPublisher - Home</h5>
</div>
<div>
    <br/>
</div>
<div class="row">
    <p>Ao iniciar o sistema pela primeira vez, o mesmo colheta os dados de todas as página e envia para Api. Todas as páginas possuem valores estáticos!</p>
</div>