@page
@model ClientPublisher.Pages.LandingModel
@{
    ViewData["Title"] = "Landing";
}
<div class="row">
    <h1>Landing</h1>
</div>


<div class="row"><br /></div>

<div class="row">
    <form>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="Nome">Nome</label>
                <input type="text" class="form-control" id="Nome" value="Nicholas Brandão" readonly>
            </div>
            <div class="form-group col-md-6">
                <label for="Email">Nome</label>
                <input type="email" class="form-control" id="Email" value="nicholas@email.com.br" readonly>
            </div>
        </div>
    </form>
</div>

